{% extends "pages/base.html" %}
{% block title %}- Bonus Points{% endblock %}

{% block pages %}

<h1>Bonus Points</h1>
<p>There are bonus points hidden throughout the game. Enter the codes here to earn bonus points!</p>

<p id="bonus-status"></p>
<!-- BEGIN Submit Bonus Points -->
<p>{{ incorrect }}</p>
<form hx-post="/bonus_points/submission" hx-target="#bonus-status">
    {% csrf_token %}
    {{ bonus_point_form.as_p }}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<!-- END Submit Bonus Points -->
<br/>

{% endblock %}
