{% extends "pages/base.html" %}
{% block title %}- Found Clues{% endblock %}

{% block pages %}

<h1>Found Clues</h1>

<p>Here you will find hints to the overall mystery that your team has unlocked!</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Clue #</th>
            <th scope="col">Clue</th>
        </tr>
    </thead>
    <tbody id="found-clues" hx-get"/found_clues" hx-trigger="every 2s" hx-target="#found-clues">
    </tbody>
</table>

<button class="btn btn-primary" hx-get="/found_clues_htmx" hx-trigger="load, every 2s" hx-target="#found-clues" style="display: none;">TEST</button>

{% endblock %}
