<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'pages:found-clues'}">Of Future's Past</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'pages:home' %}">Clue</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'pages:found-clues' %}">Found Clues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pages:solution' %}">Solution</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pages:score' %}">Score</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pages:bonus-points' %}">Bonus Points</a>
      </li>
  </div>
</nav>
