{% extends "base.html" %}
{% load static %}

{% block title %}Admin Console{% endblock %}

{% block content %}
<!-- Report action performed -->
{% if action %}
<p>{{action}}</p>
{% endif %}

{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>

<!-- BEGIN Perform Actions-->
<form action="{% url reverse %}" method="POST">
    {% csrf_token %}
    <!-- Start Game -->
    <button type="submit" name="action" value="start-game">Start Game</button>
</form>
<!-- END Perform Actions-->

<!-- BEGIN Stats -->
<ul class="nav nav-tabs">
    {% for character, info in characters.items %}
    {% with name=character.username.username %}
    <li class="nav-item" role="presentation">
        <button data-toggle="tab" href="#c-{{ name }}" class="nav-link" id="c-{{ name }}-tab" data-bs-toggle="tab" data-bs-target="#c-{{name}}" type="button" role="tab" aria-controls="c-{{name}}" aria-selected="false">{{ character.real_name }}</button>
    </li>
    {% endwith %}
    {% endfor %}
</ul>
<div class="tab-content" id="myTabContent">
    {% for character, info in characters.items %}
    {% with name=character.username.username %}
    <div class="tab-pane fade" id="c-{{name}}" role="tabpanel" aria-labelledby="c-{{name}}-tab">{{name}}</div>

    {% endwith %}
    {% endfor %}
</div>

<!-- END Stats -->

<!-- BEGIN logout -->
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
<!-- END logout -->
{% endif %}
{% block test-console %} {% endblock test-console %}
{% endblock content %}
