{% extends "base.html" %}
<p>TEST</p>
<p>Hi {{ user.username }}!</p>

{% block title %}Admin Console{% endblock %}
<p>TEst</p>

{% block content %}
<!-- Report action performed -->
{% if action %}
<p>{{action}}</p>
{% endif %}

{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>

<!-- BEGIN Perform Actions-->
<form action="{% url reverse %}" method="POST">
    {% csrf_token %}
    <!-- Start Game -->
    <button type="submit" name="action" value="start-game">Start Game</button>
</form>
<!-- END Perform Actions-->

<!-- BEGIN logout -->
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
<!-- END logout -->
{% endif %}
{% block test-console %} {% endblock test-console %}
{% endblock content %}
