{% extends "admin_pages/console.html" %}

{% block title %}Test Admin Console{% endblock %}

{% block console %}{% endblock console %}

{% block test-console %}
<br>
<br>
<br>
<!-- Report action performed -->
{% if user.is_authenticated %}
<!-- BEGIN Perform Actions-->
<form action="{% url reverse %}" method="POST">
    {% csrf_token %}
    <!-- Start Game -->
    <button type="submit" name="action" value="add-default-character">Add default Character</button>
    <!-- Clear Characters + Users -->
    <button type="submit" name="action" value="clear-characters">Clear Users and Characters</button>
    <!-- Clear Teams -->
    <button type="submit" name="action" value="clear-teams">Clear Teams</button>
    <!-- Reset hints -->
    <button type="submit" name="action" value="reset-hints">Reset Hints</button>
    <!-- Reset clues -->
    <button type="submit" name="action" value="reset-finds">Reset Finds</button>
    <!-- Reset bonus points -->
    <button type="submit" name="action" value="reset-bonus-points">Reset Bonus Points</button>

</form>
<!-- END Perform Actions-->

{% endif %}
{% endblock test-console %}
